@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background: url('../img/neom-x-F7S_lqN2U-unsplash.jpg')center/cover no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    font-size: 1rem;
    height: 90vh;
}


form {
    box-shadow: 0 0 5px gray;
    width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: white;
}

.login-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login__Register {
    color: white;
    border: none;
    padding: 0px 5px;
    width: 15vw;
    min-height: 50px;
    font-size: 1em;
    text-align: center;
    margin-top: 0.25em;
    background-image: linear-gradient(to right, #385cd3 0%, #7999ad  51%, #9fafeb  100%);
    margin: 20px;
    text-align: center;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.Login__Register li {
    list-style: none;
}

a {
text-decoration: none;
font-size: 20px;
color: white;
}

.icons {
    margin-bottom: 4vh;
}

.icons ul {
    text-align: center;
    font-size: 1em;
    list-style: none;
    margin-bottom: 4vh;
}

.inputbox {
    padding: 1vh;
}

.remember-pw {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.inputbox input {
    padding: 1vh;
    border-radius: 10px;
    width: 200px;
}

.button {
    margin-bottom: 1vh;
}

.button input {
    width: 100px;
    background-color: #385cd3;
    color: white;
    border-radius: 10px;
}
input[type="submit"]:hover {
    background-color: #9fafeb;
}