@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body {
    background: url(../img/toby-hughes-2wJ0VBVI_Bk-unsplash.jpg)center/cover no-repeat;
    height: 100vh;
}

main {
    position: relative;
    padding: 5%;
}

main h1 {
    font-size: 2rem;
    text-shadow: 2px 2px white;
    padding-left: 15%;
    padding-right: 15%;
}

main article {
    padding: 2%;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(126, 212, 229, 0.5);
    border-radius: 5rem;
}

main article h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 2%;
    color: white;
    opacity: 60%;
}

main article p {
    font-size: 14px;
    text-align: center;
    padding: 1%;
}