* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url('../img/ali-kazal-WaV9tvDJIC0-unsplash.jpg')center/cover no-repeat;
    height: 100vh;
}

body div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 15em;
    height: 10em;
    background-color:#F62B54 ;
    text-align: center;
    border-radius: 1.5em;
    color: white;
}

body div h2 {
    padding-top: 1.8em;
    padding-bottom: 0.8em;
}