* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

.mainsection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-right: 80%;
}
 .gender {
    display: flex;
 }
.gender div{
    margin-left: 85px;
}

.pic {
    display: flex;
    justify-content: space-between;
    margin-right: 72.5%;
}

.country label {
    margin-right: 82px;
}

.languages {
    display: flex;
}

.languages label {
    margin-right: 10px;
}

.actlabel {
margin-right: 20px;
}