* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 100px;
    width: 400px;
    height: 120px;
    position: relative;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

span {
    text-decoration: underline;
}

span:hover:first-of-type {
    border: 2px solid black;
}

span:hover:last-of-type {
    background-color: black;
    color: white;
}

p::first-letter {
    font-size: 24px
}

p::before {
    /* content:url('../img/157247.png');
    position:absolute;
    left:-15%;
    top: -15%;
    zoom: 10%;  */
    content: '';
    background: url('../img/157247.png')center/cover;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -60px;
    top: -20px;
}

p::after {
    /* content:url('../img/157248.png');
    position: absolute;
    bottom: -20%;
    right: -15%;
    zoom: 10%; */
    content: '';
    background: url('../img/157248.png')center/cover;
    position: absolute;
    height: 50px;
    width: 50px;
    right: -50px;
    bottom: -25px;
} 


 
