* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

h1 {
    margin-top: 200px;
    margin-left: 200px;
    padding-bottom: 20px;
}
h1::first-letter {
    font-size: 3em;
    color: #00796B;
}

h1:hover::first-letter{
    color: #4FC3F7;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 200px;
    margin-left: 250px;
}

li {
    list-style: none;
}

li:first-of-type, li:nth-of-type(2) {
    text-decoration: line-through;
}

li:first-of-type:before, li:nth-of-type(2):before {
    content: url('../img/check.png');
}

article li:first-of-type:after {
    content: url('../img/gym.png');
}

li:nth-of-type(2)::after {
    content: url('../img/bill.png');
}

li:nth-of-type(3), li:nth-of-type(4) {
    background-color: aqua;
}

li:nth-of-type(3)::before, li:nth-of-type(4)::before {
    content: url('../img/doing.png');
}

li:nth-of-type(3)::after {
    content: url('../img/dance.png');
}

li:nth-of-type(4)::after {
    content: url('../img/eat.png');
}

li:nth-of-type(5)::before, li:nth-of-type(6)::before {
    content: url('../img/no.png');
}

li:nth-of-type(5), li:nth-of-type(6) {
    text-decoration: underline;
}

li:nth-of-type(5):after {
    content: url('../img/book.png');
}

li:nth-of-type(6):after {
    content: url('../img/organize.png');
}

li:before {
    zoom: 70%;
}

li:after {
    zoom: 70%;
}