@keyframes loader {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-75px);
    }
    100% {
    transform: translateY(0);
    }
}
main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader__section {
    display: flex;
    gap: 15px;
}

.loader__section div {
    height: 30px;
    width: 30px;
}

.loader__section div:nth-of-type(1) {
    animation: loader 1.5s  infinite ease-in-out;
    background-color: greenyellow;
}

.loader__section div:nth-of-type(2) {
    animation: loader 1.5s 0.1s infinite ease-in-out;
    background-color: purple;
}

.loader__section div:nth-of-type(3) {
    animation: loader 1.5s 0.2s infinite ease-in-out;
    background-color: yellow;
}   

.loader__section div:nth-of-type(4) {
    animation: loader 1.5s 0.3s infinite ease-in-out;
    background-color: red;
}

.loader__section div:nth-of-type(5) {
    animation: loader 1.5s 0.4s infinite ease-in-out;
    background-color: blue;
}