@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body {
    background: url('../img/gameover.jpg')center/cover no-repeat;
    height: 100vh;
    position: relative;
}

body h1 {
    position: absolute;
    right: 20vh;
    bottom: 20vh;
    font-size: 40px;
    color: rgb(242, 91, 91);
}