@font-face {
    font-family:'monoton';
    src: url('../fonts/Monoton-Regular.ttf');
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1D2025;
    font-family: 'ubuntu';
}

body {
    height: 100vh;
}

header {
    border-bottom: 1px solid #6F6864;
    position: relative;
    height: 8%;
}

header h2 {
    position: absolute;
    top: 2vh;
    left: 5%;
    font-family: 'monoton';
    color: #727577;
}

header h3 {
    position: absolute;
    font-family: 'ubuntu';
    color: #6F6864;
    top: 3vh;
    left: 20vh;
    font-size: 0.8em;
}

header h3:hover {
    color: #f4f7f8;
}
header nav {
    margin-right: 0;
}
header nav ul {
    text-align: right;
    list-style: none;
    margin-right: 10%;
    padding-top: 20px;
}

header nav ul li {
    display: inline-block;
    padding-inline: 3%;
}

header nav ul li a {
    text-decoration: none;
    color: #6F6864;
    font-size: 0.8em;
}

header nav ul li a:hover {
    color: #f4f7f8;
}

main {
    position: relative;
}

main article {
    position: absolute;
    width: 300px;
    top: 30vh;
    left: 25vh;
}

main article h1 {
    font-size: 3rem;
    padding-bottom: 15vh;
    color: #F1F1F1C0;
}

/* main article hr {
    color: #AC8059;
    height: 1px;
    width: 30px;
} */

main article p {
    color: #AC8059;
    font-size: 0.7em;
    text-align: left;
    padding-left: 5vh;
}

main section {
    position: absolute;
    right: 0;
    top: 100px;
}

main section img {
    width: 250px;
    height: 500px;
    padding-left: 30px;
}

footer {
    position: relative;
}

footer nav:nth-of-type(1){
    position: absolute;
    bottom: -85vh;
    left: 10vh;
}

footer nav:nth-of-type(1) img {
    padding-left: 3vh;
}

footer nav:nth-of-type(2){
    position: absolute;
    bottom: -85vh;
    right: 10vh;
}

footer nav:nth-of-type(2) img {
    padding-left: 3vh;
}