main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.transform__1 div {
    height: 100px;
    width: 100px;
    background-color: red;
    transition: all 1s 0.2s ease-out;
    border-radius: 25px;
}

.transform__1 div:hover {
    transform: translate(-100px, 100px) rotate(90deg) scale(2);
}