* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../img/newyork.jpg')center/cover no-repeat;
    height: 100vh;
}
header {
    display: flex;
    background-color: rgb(119, 117, 117, 0.6);
    justify-content: space-between;
    height: 10vh;
}

header div {
    display: flex;
    align-self: center;
    padding-left: 4em;
    color: white;
    font-size: 1.5em;
}

header nav {
    width: 40%;
    align-self: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-right: 5em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

