*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    font-size: 1rem;
}

form {
    box-shadow: 0 0 5px gray;
    width: 30vw;
    border-radius: 10px;
}

section {
    margin: 1.8vh 4vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 223, 223);
}

section div {
    margin: 2.5vh 7vh;
    display: flex;
    flex-direction: column;
}


input {
    border: 1px solid ;
    padding: 0.5vh 0.5vw;
    border-radius: 5px;
    box-shadow: 2px 2px;
} 

h2 {
    font-weight: 400;
    color: rgb(66, 75, 70);
    margin-left: 1.5vw;
}

label {
    margin-bottom: 0.5vh;
    font-weight: 300;
    font-size: 0.8em;
}

input:active {
    color: none;
}

.style-h2 {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.step {
    border: 1px solid transparent;
    background-color: rgb(66, 75, 70);
    color: white;
    border-radius: 50px;
    padding: 0 5px 0 5px;
    margin-left: -0.7vw;
}

.Sign-header {
    background-color: gray;
    height: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px 4px 0 0 ;
    padding: 1vh 0 0 1vw;
    font-size: 1.2em;
    text-align: center;
}

.Sign-header p {
    font-size: 0.8rem;
}

.agreement {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
}

.send input:hover {
    background-color: gray;
    color: white;
}