@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playfair';
}



body {
    background-color: #EDF0E2;
    height: 100vh;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section img {
    position: absolute;
    right: 0;
    width: 100vh;
}

section div {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 300px;
}

section div h1 {
    font-weight:400;
    font-size: 30px;
    padding-bottom: 15%;
}
section div h1 span {
    font-size: 1.5em;
}

section div p {
    font-family: 'poppins';
    font-size: 0.7em;
    width: 96%;
    padding-bottom: 50px;
}

section div button {
    background-color: orange;
    font-size: 15px;
    font-family: 'poppins';
    padding: 3% 20%;
    border-radius: 15px;
}

