@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    height: 100vh;
    background-image: url('../img/everest.jpg');
    background-size: cover;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 12px;
}

div {
    position: absolute;
    right: 30%;
    top: 40%;
}

div a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
div a:hover {
    color: bisque;
}

div h2 {
    text-align: center;
}
