.animation__2 {
    height: 400px;
    width: 500px;
    position: relative;
    background-color: lightgray;
}

div{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

.circle1 {
    animation: circle_in_motion 4s ease-in-out infinite;
}
.circle2 {
    animation: circle_in_motion 4s 1s ease-in-out infinite;

}
.circle3 {
    animation: circle_in_motion 4s 2s ease-in-out infinite;

}
.circle4 {
    animation: circle_in_motion 4s 3s ease-in-out infinite;

}

@keyframes circle_in_motion {
    0%{
        background-color: red;
        transform: translate(0)
    }
    25%{
        background-color: rgb(255, 217, 0);
        transform: translate(450px, 0px)
    }
    50%{
        background-color: rgb(13, 185, 13);
        transform: translate(450px, 350px)
    
    }
    75%{
        background-color: rgb(29, 80, 233);
        transform: translate(0vw, 350px)
    }
    100%{
        background-color: red;
        translate: (0);
    }
}